.navigation {
    position: absolute;
    height: 40px;
    left: 5px;
    right: 5px;
    background-color: rgb(53, 53, 134);
    color: white;
    padding: 5px;
}

.tableau {
    position: relative;
    top: 50px;
    padding-bottom: 50px;
    background-color: grey;
}

.footer {
    position: relative;
    padding: 5px;
    text-align: center;
    background-color: white;
}

a {
    color: white;
}

p {
    background-color: white;
    padding-left: 5px;
    border: 2px solid darkgrey;
}